@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size:x-large;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}
.profilePicture{
  background-image: url("./assets/profileImg96wpx.jpg");
}
